.size img {
    width: 40%;
    height: auto;
}

.size {
    text-align: center;
    padding: 20px;
}

.line {
    margin: 20px 0px;
}

.soccer {
    display: flex;
    justify-content: center;
    align-items: center;
}