body {
    background-color:#ffffe0;
    margin:0;
    height:100%;
}

header {
    background-color: #bbe2f1;
    padding:0;
    margin-top:0;
    align-items: center;
    /* display:flex; */
    justify-content: space-between;
}

header h1 {
    margin:0;
}

.img_name {
    text-align: center;
}

.img_name img {
    height:400px;
    width:auto;
}