.header {
    background-color: #bbe2f1;
    padding: 0 5%;
    margin-top: 0;
}

.title {
    margin: 0;
    font-family: cursive;
    font-size: 60px;
    text-align: center;
}

.github img {
    width: 25%;
    height: auto;
}

.link {
    color: blue;
    text-decoration: underline;
}

.links a {
    padding: 10px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}